In [1]:
import pandas as pd

In [3]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

In [4]:
duration = [2,3,6,4]

In [5]:
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [8]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Pandas iloc-- it is index based and rows and columns are accessed by using index number (integers).
Pandas loc-- it is label based and rows and columns are accessed by using labels or bool arrays.

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2]. Did you observe any difference in both the outputs? If so then explain it.

In [12]:
reindex= [3,0,1,2]
new_df = pd.DataFrame(df, index=reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [13]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [14]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

yes there is a difference in both the outputs. 
in iloc function, the 2nd row is choosen from the start whereas in loc function 
the index number is matched and thus bigdata is accessed since it has index=2.

# Consider the below code to answer further questions:

In [15]:
import pandas as pd

In [16]:
import numpy as np

In [17]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

In [18]:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [19]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.170413  0.779694  0.792184  0.639305  0.396931  0.798107
2  0.050339  0.125987  0.957605  0.993200  0.023426  0.395987
3  0.938620  0.898584  0.872961  0.233064  0.430783  0.629118
4  0.842454  0.510173  0.756677  0.662488  0.789249  0.668731
5  0.535025  0.912562  0.600130  0.837967  0.559606  0.125169
6  0.211076  0.385586  0.777859  0.957823  0.537302  0.147490

#

# Q4. Write a code to find the following statistical measurements for the above dataframe df1: 
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [20]:
df1.mean()

column_1    0.457988
column_2    0.602098
column_3    0.792903
column_4    0.720641
column_5    0.456216
column_6    0.460767
dtype: float64

In [24]:
df1['column_2'].std()

0.3155444095586898

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [36]:
df1.loc[df1['column_2']== 0.125987, 'column_2']= 1

we are getting error here.

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

windows function in pandas are used to perform operations on rows that are interrelated.
Windows function in Pandas are of three types.
1]The Aggregate category
Group, Rolling, and Expanding.
2]The Ranking category
Row Numbers, Row numbers of two types:
reset_index(), 
cumcount()
Rank,
Rank is of four types:
default_rank
min_rank
NA_bottom
descending
Dense rank,
Percent, and
N-Tile / qcut().
3]The Value category
Lag / Lead, and
First / Last/nth.

# Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [38]:
from datetime import date

In [39]:
todays_date = date.today()

In [40]:
print(todays_date)

2023-09-09